In [1]:
import pandas as pd

Import  file data source ke dalam Jupyter Notebook

In [2]:
df = pd.read_csv('StudyCase.csv')
df

,event_time,event_name,interface_type,app_version,visitor_id,session_id
0,2019-02-25 00:00:04,search,Android,2.7.1,581cfab5a3fd5d10beb16fda07e6ed5c,581cfab5a3fd5d10beb16fda07e6ed5c.20190225000004
1,2019-02-25 00:00:05,search,Android,2.7.1,8b37990ef22b83d9c633c6e70a08c860,8b37990ef22b83d9c633c6e70a08c860.20190225000005
2,2019-02-25 00:00:08,visit,Android,2.7.1,8b37990ef22b83d9c633c6e70a08c860,8b37990ef22b83d9c633c6e70a08c860.20190225000005
3,2019-02-25 00:00:30,search,Android,2.7.1,8b37990ef22b83d9c633c6e70a08c860,8b37990ef22b83d9c633c6e70a08c860.20190225000005
4,2019-02-25 00:00:36,view_product,Android,2.7.1,581cfab5a3fd5d10beb16fda07e6ed5c,581cfab5a3fd5d10beb16fda07e6ed5c.20190225000004
...,...,...,...,...,...,...
129229,2019-03-10 23:58:23,search,Ios,2.8.0,19BFB6A168824598B0B09B8812CAEE52,19BFB6A168824598B0B09B8812CAEE52.20190310235501
129230,2019-03-10 23:58:34,visit,Android,2.8.0,8e9cc85d856c71ed23fe336728460d59,8e9cc85d856c71ed23fe336728460d59.20190310235707
129231,2019-03-10 23:58:40,view_product,Ios,2.8.0,19BFB6A168824598B0B09B8812CAEE52,19BFB6A168824598B0B09B8812CAEE52.20190310235501
129232,2019-03-10 23:58:45,search,Ios,2.8.0,19BFB6A168824598B0B09B8812CAEE52,19BFB6A168824598B0B09B8812CAEE52.20190310235501
129233,2019-03-10 23:58:59,visit,Ios,2.8.0,19BFB6A168824598B0B09B8812CAEE52,19BFB6A168824598B0B09B8812CAEE52.20190310235501

Mengecek Tipe Data pada data source

In [3]:
df.dtypes

event_time        object
event_name        object
interface_type    object
app_version       object
visitor_id        object
session_id        object
dtype: object

Semua TipeData berupa tipedata Object

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129234 entries, 0 to 129233
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   event_time      129234 non-null  object
 1   event_name      129234 non-null  object
 2   interface_type  129234 non-null  object
 3   app_version     129234 non-null  object
 4   visitor_id      129234 non-null  object
 5   session_id      129234 non-null  object
dtypes: object(6)
memory usage: 5.9+ MB

Mengganti nama kolom dan tipe data event_date

In [7]:
df.rename(columns={'event_time':'event_date'}, inplace=True)

Mengganti Format Tipe data event_date dari tipe data object menjadi date

In [8]:
df['event_date'] = pd.to_datetime(df['event_date'], errors='coerce')

Nama kolom telah diganti menjadi event_date

In [9]:
df

,event_date,event_name,interface_type,app_version,visitor_id,session_id
0,2019-02-25 00:00:04,search,Android,2.7.1,581cfab5a3fd5d10beb16fda07e6ed5c,581cfab5a3fd5d10beb16fda07e6ed5c.20190225000004
1,2019-02-25 00:00:05,search,Android,2.7.1,8b37990ef22b83d9c633c6e70a08c860,8b37990ef22b83d9c633c6e70a08c860.20190225000005
2,2019-02-25 00:00:08,visit,Android,2.7.1,8b37990ef22b83d9c633c6e70a08c860,8b37990ef22b83d9c633c6e70a08c860.20190225000005
3,2019-02-25 00:00:30,search,Android,2.7.1,8b37990ef22b83d9c633c6e70a08c860,8b37990ef22b83d9c633c6e70a08c860.20190225000005
4,2019-02-25 00:00:36,view_product,Android,2.7.1,581cfab5a3fd5d10beb16fda07e6ed5c,581cfab5a3fd5d10beb16fda07e6ed5c.20190225000004
...,...,...,...,...,...,...
129229,2019-03-10 23:58:23,search,Ios,2.8.0,19BFB6A168824598B0B09B8812CAEE52,19BFB6A168824598B0B09B8812CAEE52.20190310235501
129230,2019-03-10 23:58:34,visit,Android,2.8.0,8e9cc85d856c71ed23fe336728460d59,8e9cc85d856c71ed23fe336728460d59.20190310235707
129231,2019-03-10 23:58:40,view_product,Ios,2.8.0,19BFB6A168824598B0B09B8812CAEE52,19BFB6A168824598B0B09B8812CAEE52.20190310235501
129232,2019-03-10 23:58:45,search,Ios,2.8.0,19BFB6A168824598B0B09B8812CAEE52,19BFB6A168824598B0B09B8812CAEE52.20190310235501
129233,2019-03-10 23:58:59,visit,Ios,2.8.0,19BFB6A168824598B0B09B8812CAEE52,19BFB6A168824598B0B09B8812CAEE52.20190310235501

Mengecek nilai null pada data

In [10]:
df.isnull().sum()

event_date        14
event_name         0
interface_type     0
app_version        0
visitor_id         0
session_id         0
dtype: int64

Mengecek frekuensi pada kolom event_name

In [16]:
df['event_name'].value_counts()

visit             48779
search            44188
view_product      10871
Visit              7608
add_to_cart        7278
Search             5998
ViewProduct        1498
checkout            992
select_payment      733
AddToCart           639
create_booking      457
Checkout             82
SelectPayment        65
CreateBooking        46
Name: event_name, dtype: int64

Konversi tipedata Object ke tipedata string pada kolom Interface_type

In [11]:
df['interface_type'] = df['interface_type'].astype('string')

In [12]:
df['interface_type']

0         Android
1         Android
2         Android
3         Android
4         Android
           ...
129229        Ios
129230    Android
129231        Ios
129232        Ios
129233        Ios
Name: interface_type, Length: 129234, dtype: string

In [13]:
df['interface_type'].value_counts()

Android    101697
Ios         27537
Name: interface_type, dtype: Int64

## Konversi tipedata AppVersion ke String

In [14]:
df['app_version'] = df['app_version'].astype('string')

In [15]:
df['app_version'].head()

0    2.7.1
1    2.7.1
2    2.7.1
3    2.7.1
4    2.7.1
Name: app_version, dtype: string

In [17]:
df.dtypes

event_date        datetime64[ns]
event_name                object
interface_type            string
app_version               string
visitor_id                object
session_id                object
dtype: object

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129234 entries, 0 to 129233
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   event_date      129220 non-null  datetime64[ns]
 1   event_name      129234 non-null  object
 2   interface_type  129234 non-null  string
 3   app_version     129234 non-null  string
 4   visitor_id      129234 non-null  object
 5   session_id      129234 non-null  object
dtypes: datetime64[ns](1), object(3), string(2)
memory usage: 5.9+ MB

## Membuat DataFrame

In [19]:
data = {'Column Name' : ['event_date', 'interface_type', 'app_version', 'num_visit', 'num_search',
                        'num_product_viewed', 'num_add_to_cart', 'num_checkout', 'num_payment_selected', 'num_booking_created',
                        'num_session_visit', 'num_session_search', 'num_session_product_viewed', 'num_add_to_cart', 'num_session_checkout',
                        'num_session_payment_selected', 'num_session_booking_created' ],
       'Data Type' : ['DATE', 'STRING', 'STRING', 'INTEGER', 'INTEGER',
                     'INTEGER', 'INTEGER', 'INTEGER', 'INTEGER', 'INTEGER',
                     'INTEGER', 'INTEGER', 'INTEGER', 'INTEGER', 'INTEGER',
                     'INTEGER', 'INTEGER'],
       'Description' : ['Event date.', 'Interface type. Standardized values: ANDROID, IOS', 'Application version. Standardized format:9.9.9', 'Summary number of visit events.', 'Summary number of search events.',
                        'Summary number of product viewed events.', 'Summary number of add to cart events.', 'Summary number of checkout events.', 'Summary number of payment selected events.', 'Summary number of booking created events.',
                        'Summary number of visit session.', 'Summary number of search sessions.', 'Summary number of product viewed sessions.', 'Summary number of add to cart sessions.', 'Summary number of checkout sessions.',
                        'Summary number of payment selected sessions.', 'Summary number of booking created sessions.']}

daily_hotel_booking_funnel = pd.DataFrame(data)

In [20]:
daily_hotel_booking_funnel

,Column Name,Data Type,Description
0,event_date,DATE,Event date.
1,interface_type,STRING,"Interface type. Standardized values: ANDROID, IOS"
2,app_version,STRING,Application version. Standardized format:9.9.9
3,num_visit,INTEGER,Summary number of visit events.
4,num_search,INTEGER,Summary number of search events.
5,num_product_viewed,INTEGER,Summary number of product viewed events.
6,num_add_to_cart,INTEGER,Summary number of add to cart events.
7,num_checkout,INTEGER,Summary number of checkout events.
8,num_payment_selected,INTEGER,Summary number of payment selected events.
9,num_booking_created,INTEGER,Summary number of booking created events.
10,num_session_visit,INTEGER,Summary number of visit session.
11,num_session_search,INTEGER,Summary number of search sessions.
12,num_session_product_viewed,INTEGER,Summary number of product viewed sessions.
13,num_add_to_cart,INTEGER,Summary number of add to cart sessions.
14,num_session_checkout,INTEGER,Summary number of checkout sessions.
15,num_session_payment_selected,INTEGER,Summary number of payment selected sessions.
16,num_session_booking_created,INTEGER,Summary number of booking created sessions.

In [21]:
daily_hotel_booking_funnel.to_csv('daily_hotel_booking_funnel.csv', index=False)